body {
  background: url('../images/background.jpg') no-repeat left top fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

p {
  font-size: 130%;
}

#info {
  background-color: rgba(255, 255, 255, 0.7);
}

#photo-container {
  height: 100vh;
}

#photo {
  position: fixed;
  top: 0;
  width: auto;
  height: 100%;
  min-height: 500px;
}
