---
layout: resume
title: About me
svg_width: 18
---
 
<div class="home">
  <h1 class="page-heading">
    <span>{{ page.title }}</span>
    <!--
    <button class="btn btn-default pull-right" id="pdf"><i class="fa fa-file-pdf-o" style="color: darkred;" aria-hidden="true"></i>&nbsp;Download PDF</button>
    -->
  </h1>

  <h2 class="text-uppercase">Skills</h2>

  <ul>
      {% for skill in site.data.resume.skills %}
      <li>
        <u>{{ skill.skill }}</u>:&nbsp;{{ skill.technologies | join: ", " }}
      </li>
      {% endfor %}
  </ul>

  <hr><br>
  <h2 class="text-uppercase">Experience</h2>
  <ul>
      {% for exp in site.data.resume.experience %}
      <li>
        <u>{{ exp.from }}&nbsp;&ndash;&nbsp;{{ exp.to }}</u>:
        {% if exp.href %}
          <a target="_blank" href="{{ exp.href }}">{{ exp.employer }}</a>
        {% else %}
          {{ exp.employer }}
        {% endif %}

        <br>
        <i>{{ exp.description }}</i>

        <br>
        {% if exp.responsibilities %}
          Responsibilities:
          <ul>
            {% for responsibility in exp.responsibilities %}
              <li>{{ responsibility }}</li>
            {% endfor %}
          </ul>
        {% endif %}

        <p>
        {% for tag in exp.tags %}
          <span class="label label-default">{{ tag }}</span>
        {% endfor %}
        </p>
      </li>
      {% endfor %}
  </ul>

  <hr><br>
  <h2 class="text-uppercase">Education</h2>
  <ul>
      {% for edu in site.data.resume.education %}
      <li>
        <u>{{ edu.from }}&nbsp;&ndash;&nbsp;{{ edu.to }}</u>:
        <a target="_blank" href="{{ edu.href }}">{{ edu.school }}</a>
        <br>
        {{ edu.description }}
      </li>
      {% endfor %}
  </ul>

  <hr><br>
  <h2 class="text-uppercase">Contacts</h2>
  <p><i class="fa fa-fw fa-map-marker" aria-hidden="true"></i>&nbsp;Rostov-on-Don, Russia<br>
    <i class="fa fa-fw fa-envelope-o" aria-hidden="true"></i>&nbsp;<a href="mailto:{{ site.email }}">{{ site.email }}</a><br>
    <i class="fa fa-fw fa-github" aria-hidden="true"></i>&nbsp;follow me on <a target="_blank" href="https://github.com/{{ site.github_username }}">github</a><br>
    <img src="images/telegram.svg" alt="Telegram Logo" width="{{ page.svg_width }}" aria-hidden="true">&nbsp;chat me in <a target="_blank" href="http://telegram.me/{{ site.telegram_username }}">telegram</a><br>
    <i class="fa fa-fw fa-linkedin" aria-hidden="true"></i>&nbsp;connect on <a target="_blank" href="https://ru.linkedin.com/in/{{ site.linkedin_username }}">linkedin</a><br>
    <img src="images/upwork.svg" alt="Upwork Logo" width="{{ page.svg_width }}" aria-hidden="true">&nbsp;hire me on <a target="_blank" href="http://www.upwork.com/o/profiles/users/{{ site.upwork_profile }}">upwork</a></p>
</div>
