---
layout: default
title: Resume
svg_width: 18
---
 
<div class="home">
  <h1 class="page-heading">{{ page.title }}</h1>
  <h2 class="text-uppercase">Skills</h2>

  <ul>
      {% for skill in site.data.resume.skills %}
      <li>
        <u>{{ skill.skill }}</u>:&nbsp;{{ skill.technologies | join: ", " }}
      </li>
      {% endfor %}
  </ul>

  <h2 class="text-uppercase">Experience</h2>
  <ul>
      {% for experience in site.data.resume.experiences %}
      <li>
        <a target="_blank" href="{{ experience.href }}">{{ experience.company }}</a>:&nbsp;{{ experience.description }}
      </li>
      {% endfor %}
  </ul>

  <h2 class="text-uppercase">Interests</h2>
  <ul>
      {% for interest in site.data.resume.interests %}
      <li>
        {{ interest }}</a>
      </li>
      {% endfor %}
  </ul>

  <h2 class="text-uppercase">Contacts</h2>
  <p><i class="fa fa-fw fa-map-marker" aria-hidden="true"></i>&nbsp;Rostov-on-Don, Russia<br>
    <i class="fa fa-fw fa-envelope-o" aria-hidden="true"></i>&nbsp;<a href="mailto:{{ site.email }}">{{ site.email }}</a><br>
	<i class="fa fa-fw fa-github" aria-hidden="true"></i>&nbsp;follow me on <a target="_blank" href="https://github.com/{{ site.github_username }}">github</a><br>
	<img src="images/telegram.svg" alt="Telegram Logo" width="{{ page.svg_width }}" aria-hidden="true">&nbsp;chat me in <a target="_blank" href="http://telegram.me/{{ site.telegram_username }}">telegram</a><br>
	<i class="fa fa-fw fa-linkedin" aria-hidden="true"></i>&nbsp;connect on <a target="_blank" href="https://ru.linkedin.com/in/{{ site.linkedin_username }}">linkedin</a><br>
	<img src="images/upwork.svg" alt="Upwork Logo" width="{{ page.svg_width }}" aria-hidden="true">&nbsp;hire me on <a target="_blank" href="http://www.upwork.com/o/profiles/users/{{ site.upwork_profile }}">upwork</a></p>
</div>
